h1.header {
  color: cyan;
  font-size: 45px;
  font-family: times;
}
h1 {
  color:lime;
}
/*.headers {
  background-color: cyan;
}*/ 
a{
  color: lime;
  font-size: 20px;
  font-family: arial;
}
img{
  width: 250px;
}
.yellowthings{
  color:yellow;
}
body {
  /*background-color: cyan;*/
  color: lime;
  font-size: 25px;
  font-family: serif;
  text-align: center;
  text-shadow:2px 2px 2px magenta;
  background-image: url(milkyway.jpeg)
}
table.center{
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
    border: 1px solid magenta;
    text-align: center;
}
ol.a {
  color: lime;
  font-size: 20px;
  font-family: serif;
  text-shadow: 2px 2px 2px magenta;
}
