
.header {
    margin-top: 2cm;
}
.stages {
  margin-top: 0.25cm;
}

.resize {
  max-width:50%;
  max-height:50%;
}

.resize1{
  max-width:40%;
  max-height:40%;
}

#index {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 450px;
    background-image: url(bubbles.jpg);
    border-radius: 0px;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.button {
  padding-top: 250px;
  margin-bottom: 0px;
 }

/*for diagnostics
.body {
  max-width: 1150px;
}

* {
     background: #000 !important;
     color: #0f0 !important;
     outline: solid #f00 1px !important;
 }
*/

#how-it-works {
    padding-top: 275px;
    height: 450px;
    background-image: url(mamababy.png);
    border-radius: 0px;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.mid-head {
  margin-top: 1cm;
}
#head2 {
margin-top: 2cm;
}
